@import 'foundation/scss/foundation';

body {
    background: rgba(90, 90, 200, 0.7);
}

.main {
    width: 80%;
    margin: 0 auto;
}

.slide1 {
    display: none;
}

.slide2 {
    display: none;
}

.slide3 {
    display: none;
}

.slide4 {
    display: none;
}

.slide5 {
    display: none;
}

.prevbutton {
    float: left;
}

.nextbutton {
    float: right;
}